@model TeamViewModel

<h2>Team Details</h2>

<div class="card bg-light">
    <div class="card-body">
        <h5 class="card-title">@Model.Team.Name</h5>
        <p class="card-text text-muted">
            @Model.Team.Club.Name
            <span class="float-right mr-3">Email: @Model.Team.Club.Email</span>
            <span class="float-right mr-3">Phone: @Model.Team.Club.Phone</span>
        </p>
    </div>
</div>

@if (Model.Team.Players.Count > 0)
{
    <h5 class="mt-3">Players</h5>

    <table class="table table-sm table-striped table-bordered mt-4">
        <thead>
            <tr>
                <th>TeamPlayer Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Position</th>
            </tr>
        </thead>
        <tbody>
            @foreach (TeamPlayer player in Model?.Team?.Players)
            {
                <tr>
                    <td>@player.TeamPlayerID</td>
                    <td>@player.Player.FirstName</td>
                    <td>@player.Player.LastName</td>
                    <td>@player.Player.Age</td>
                    <td>@player.Player.Phone</td>
                    <td>@player.Player.Email</td>
                    <td>@player.Position</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="text-center m-5">The team has no registered players</div>
}

<div class="text-center">
    <a asp-action="Create" asp-controller="TeamPlayer" asp-route-teamId="@Model.Team.TeamID" class="btn btn-primary">Add Player</a>
    <a asp-action="List" asp-controller="Team" class="btn btn-secondary">Back</a>
</div>