@model TeamPlayerViewModel

<h2>Assign Players</h2>
<p>Please Check Combobox to assign player:</p>

<div class="card bg-light">
    <div class="card-body">
        <h5 class="card-title">@Model.TeamPlayer.Team.Name</h5>
        <p class="card-text text-muted">
            @Model.TeamPlayer.Team.Club.Name
            <span class="float-right mr-3">Email: @Model.TeamPlayer.Team.Club.Email</span>
            <span class="float-right mr-3">Phone: @Model.TeamPlayer.Team.Club.Phone</span>
        </p>
    </div>
</div>

<form asp-action="Edit" asp-controller="TeamPlayer" asp-route-teamId="@Model.TeamPlayer.Team.TeamID" method="post">

    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="TeamPlayer.TeamPlayerID" />
    <input type="hidden" asp-for="TeamPlayer.Team.TeamID" />
    <input type="hidden" asp-for="TeamPlayer.Team.Name" />
    <div class="form-group">
        <label asp-for="TeamPlayer.Player">Player:</label>
        <select asp-for="SelectedTeamPlayerID" class="form-control"
                asp-items="@(new SelectList(Model.Players,"PlayerID","FullName"))">
            <option>Please select one</option>
        </select>
        <span asp-validation-for="TeamPlayer.Player" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TeamPlayer.Position">Position:</label>
        <select asp-for="TeamPlayer.Position" class="form-control">
            <option value="">Please select...</option>
            <option value="Goalkeeper">Goalkeeper</option>
            <option value="Defender">Defender</option>
            <option value="Midfielder">Midfielder</option>
            <option value="Forward">Forward</option>
        </select>
    </div>

    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="Detail" asp-controller="Team" asp-route-teamId="@Model.TeamPlayer.Team.TeamID"
           class="btn btn-secondary">Cancel</a>
    </div>

</form>